#emptyTodo {
    display: block;
    font-style: italic;
    font-size: 22px;
    padding: 4px 6px 12px 16px;
}
.delete {
    color: red;
}
.delete:hover{
    cursor: pointer;
}

.starsGray {
    color: gray;
}
.starsGold {
    color: gold;
}
.starsGold:hover{
    cursor: pointer;
}
.starsGray:hover{
    cursor: pointer;
}
body {
   background: rgb(238,174,202);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
    margin-top: 10%;
}

#todoForm {
    display: flex;
    padding: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#todoValue {
    padding-left: 6px;
    font-size: 22px;
    flex: 4;
    border: solid 1px rgba(148,187,233,1);
}

#btnAdd {
    padding: 8px 2px 8px 2px;
    font-weight: 600;
    font-size: 22px;
    background-color: rgba(148,187,233,1);
    border-color: rgba(148,187,233,1);
    border-radius: 0 8px 8px 0;
    flex: 1;
}
#btnAdd:hover{
    cursor: pointer;
}

#todoList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding-left: 0px;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    align-items: center;
}
ul li span {
    font-size: 22px;
    display: flex;
    gap: 16px;
}

.text {
    display: inline-block;
    width: 80%;
    padding-left: 6px;
    font-size: 42px;
    font-weight: bold;
    word-wrap: break-word;
}